@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/* ///////// RESET ////////// */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  background-color: var(--Grey-200);
}

/* ///////// RESET ////////// */

/* ///////// Colors ////////// */

:root {
  --Green-900: hsl(183, 100%, 15%);
  --Green-800: hsl(183, 85%, 21%);
  --Green-750: hsl(183, 79%, 24%);
  --Green-400: hsl(172, 67%, 45%);
  --Green-200: hsl(173, 61%, 77%);
  --Grey-600: hsl(180, 25%, 32%);
  --Grey-550: hsl(180, 18%, 40%);
  --Grey-500: hsl(186, 14%, 43%);
  --Grey-400: hsl(184, 14%, 56%);
  --Grey-300: hsl(184, 19%, 68%);
  --Grey-200: hsl(185, 41%, 84%);
  --Grey-50: hsl(189, 47%, 97%);
  --orange-400: hsl(13, 70%, 60%);
  --white: #ffffff;
  --black: #000000;
}

/* ///////// Colors ////////// */

/* ///////// TYPOGRAPHY ////////// */

.text-1 {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -1px;
  color: var(--Green-400);
}
.text-2 {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.67px;
}
.text-3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  color: var(--Green-900);
}
.text-4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
}
.text-5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--white);
}
.text-5-label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--Grey-500);
}
.text-5-error {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--orange-400);
}
.text-6 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0px;
  color: var(--Grey-400);
}
/* ///////// TYPOGRAPHY ////////// */
/* ///////// BUTTON ////////// */

.btn-1 {
  text-decoration: none;
  color: var(--white);
  background-color: var(--Green-900);
  border-radius: 5px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 116px;
  min-height: 48px;
}
.btn-1:hover {
  color: var(--Green-900);
  background-color: var(--Green-400);
}
.btn-1-active {
  color: var(--Green-900);
  background-color: var(--Green-400);
}

.btn-3 {
  border: none;
  background-color: var(--Green-750);
  color: var(--Green-800);
  width: 100%;
  padding: 8px 40px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-3:hover {
  background-color: var(--Green-200);
  color: var(--Green-900);
}

/* ///////// BUTTON ////////// */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 88px;
}

.logo-image {
  width: 86px;
  height: 53px;
}

.main-container {
  max-width: 920px;
  width: 100%;
  min-height: 481px;
  padding: 2rem;
  border-radius: 25px;
  background-color: var(--white);
  box-shadow: 0px 32px 43px 0px rgba(79, 165, 175, 0.2);
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
}

.main-input-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 379px;
  width: 100%;
  min-height: 384px;
}

.bill-total-container,
.tip-container,
.people-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.tip-percent-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  border: none;
  max-width: 379px;
  width: 100%;
  min-height: 48px;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: var(--Grey-50);
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

input::placeholder {
  color: var(--Green-900);
  opacity: 0.35;
}

input:focus {
  outline: 2px solid var(--Green-400);
}

.error-border {
  outline: 2px solid var(--orange-400);
}

.custom-input {
  color: var(--Grey-550);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: center;
}

.bill-input {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-align: right;
}
.people-input {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-align: right;
}

.main-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 413px;
  min-height: 417px;
  padding: 24px 32px;
  background-color: var(--Green-900);
  border-radius: 15px;
}

.main-totals-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 333px;
  width: 100%;
}
.amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 333px;
  width: 100%;
}
.amount-text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.people-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

@media (max-width: 920px) {
  .btn-1 {
    width: 141px;
  }
  .btn-2 {
    width: 141px;
  }
  main {
    gap: 41px;
    padding: 2rem 0;
  }
  .main-container {
    max-width: 608px;
    min-height: 800px;
    padding: 48px 80px;
    flex-direction: column;
    gap: 40px;
  }

  .main-input-container {
    gap: 24px;
    max-width: 457px;
    min-height: 352px;
  }
  input[type="number"] {
    max-width: 457px;
  }
  .main-results-container {
    width: 457px;
    min-height: 300px;
  }

  .main-totals-container {
    gap: 8px;
    max-width: 362px;
  }
  .amount-container {
    max-width: 362px;
  }
}

@media (max-width: 600px) {
  .text-1 {
    font-size: 32px;
    line-height: auto;
    letter-spacing: -0.67px;
  }
  .btn-1 {
    width: 147px;
  }
  .btn-2 {
    width: 147px;
  }
  .main-container {
    max-width: 375px;
    min-height: 789px;
    padding: 32px 24px;
    gap: 32px;
  }
  .main-input-container {
    gap: 32px;
    max-width: 311px;
    min-height: 432px;
  }
  input[type="number"] {
    max-width: 311px;
  }
  .main-results-container {
    width: 327px;
    min-height: 257px;
    padding: 24px 24px;
  }

  .main-totals-container {
    gap: 24px;
    max-width: 281px;
  }
  .amount-container {
    max-width: 281px;
  }
  .tip-percent-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
  }
}
